.button-container {
	display: flex;
	justify-content: center;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.button {
	background-color: azure;
	padding: 5px;
	border-radius: 5px;
	color: green;
	cursor: pointer;
}

.button:hover {
	opacity: 80%;
	box-shadow: 3px 3px 5px;
}
